body{
    font-size: 10px;
    text-align: center;
    background-color: #d6d0d0;
}
h1{
    color: #FF0000;
    text-align: left;
}
#uno{
    background-color: aqua;
}
.dos{
    background-color: blanchedalmond;
}
.clase1{
    font-style: italic;
    font-size: 20px;
    border-bottom: 1px #000000 dashed;
}
#estilo1{
    color: #ffffff;
    font-size: 15px;
    background-color: #000000;
    text-align: left;
}
